@model MyBookApp.Models.UserModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">First name</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>

        <dt class="col-sm-2">Last name</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>
    </dl>
</div>

<h3>Books borrowed by @Model.FirstName</h3>

@if (Model.Loans != null && Model.Loans.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Loan Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model.Loans)
            {
                <tr>
                    <td>@loan.Book?.Title</td>
                    <td>@loan.Book?.Author</td>
                    <td>@loan.LoanDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>This user has no active loans.</p>
}

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
